@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--Light_gray);
}
body {
  width: 100%;
  height: 100%;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.03;
  line-height: 1.6;
}

.container {
  font-size: 15px;
  width: 100;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .attribution img {
  margin: 6px;
  border-radius: 8px;
  width: 250px;
  height: 250px;
}

.attribution {
  background-color: white;
  font-size: 11px;
  text-align: center;
  width: 320px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  padding: 15px;
  min-width: 320px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-weight: 700;
  color: var(--Dark_blue);
}

p {
  font-size: 15px;
  color: var(--Grayish_blue);
  font-weight: 400;
}
